doctype html
html(lang="ru")
  head
    script(src="https://kit.fontawesome.com/d813dffe7b.js" crossorigin="anonymous")
    title business
    link(rel="stylesheet" href="css/main.css")
  body
    include section/header
    include section/hero
    include section/about
    include section/approach
    include section/work
