.approach{
  padding: 86px 0 94px;
  background-color: #f3f3f3;

  &_list{
    margin: 0;
    padding: 0;
    counter-reset: count;
  }
  &_item{
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: -1px -1px 10px 1px rgba(214,214,214,1);
    color: #424242;
    background: #fff;
    display: flex;


    @media(max-width: 670px){
      display: block;
      padding: 25px;
    }


    &:nth-child(2n){
      flex-direction: row-reverse;
      text-align: right;

      .approach_step{
        right: auto;
        left: -52px;
      }
    }
  }
  &_image{
    position: relative;
    max-width: 340px;
    max-height: 236px;
    vertical-align: top;

    @media(max-width: 985px){
      max-width: calc(340px/1.5);
      max-height: calc(340px/1.5);
    }

    @media(max-width: 670px){
      display: block;
      margin: auto;
    }
  }


  &_picture{
    display: block;
    width: 100%;
    height: 100%;
  }
  &_text{
    vertical-align: top;
    width: 64%;
    padding: 70px 70px 55px 90px;
    font-size: 0.875rem;

    @media(max-width: 985px){
      padding: 25px 20px;
    }

    @media(max-width: 700px){
      width: 100%;
      text-align: center;
    }

  }


  &_step{
    @include centerer-y();

    right: -58px;
    width: 103px;
    height: 103px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 1.25rem;
    background-color: #de2b24;
    color: #fff;


    &:before{
      content: counter(count);
      counter-increment: count;
      display: block;
      font-size: 3rem;
      line-height: 1;
      color: #fff;
    }
  }


  &_title {
    margin-bottom: 6px;
    font-size: 1.125rem;
    font-weight: bold;
  }

  &_description {
    margin: 0;
    line-height: 1.5;
  }
} 
