.nav{
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  margin-right: 15px;

  &_link{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #424242;
    transition: 0.3s;

    &:hover,
    &-active{
      color: red;
    }
    &::after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      margin-left: 5px;
      border-radius: 50%;
      background: #424242;
    }

    &:last-child::after{
      display: none;
    }
  }
}
