section.about
  .container
    .title.title-bottom_line
      h2.title.title_header About us
      .title_text We are Added our major Services


    ul.about_list
      li.about_item
        .icon.icon-like
        h3.about_header Facebook Marceting
        p.about_description Lorem ipsum dolor sit amet, consectetur adipisicing elit


      li.about_item
        .icon.icon-book
        h3.about_header landding pages
        p.about_description Lorem ipsum dolor sit amet, consectetur adipisicing elit


      li.about_item
        .icon.icon-message
        h3.about_header Ads managament
        p.about_description Lorem ipsum dolor sit amet, consectetur adipisicing elit,
