section.approach
  .container
    .title.title-bottom_line
      h2.title.title_header Our approach
      .title_text Check Our step
    ul.approach_list
      li.approach_item
        .approach_image
          img.approach_picture(src="images/step-1.jpg")
          .approach_step step
        .approach_text
          .approach_title Step 1 : Heading Here
          p.approach_description.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

      li.approach_item
        .approach_image
          img.approach_picture(src="images/step-2.jpg")
          .approach_step step
        .approach_text
          .approach_title Step 2 : Heading Here
          p.approach_description.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

      li.approach_item
        .approach_image
          img.approach_picture(src="images/step-3.jpg")
          .approach_step step
        .approach_text
          .approach_title Step 3 : Heading Here
          p.approach_description.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.



      li.approach_item
        .approach_image
          img.approach_picture(src="images/step-4.jpg")
          .approach_step step
        .approach_text
          .approach_title Step 4 : Heading Here
          p.approach_description.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
