.contacts
  a.contact(href="tel:+88005553535")
    i.fas.fa-phone.contact_phone
    span.contact_text 88005553535

    a.contact(href="mailto:serey2311@gmail.com")
      i.fas.fa-envelope-open-text.contact_email
      span.contact_text serey2311@gmail.com

    a.facebook-icon(href="facebook.com")
      i.fab.fa-facebook-f
