section.form-section
  .container
    .title
      h2.title.title_header Get Your Free Facebook Analysits Now
      .title_text Enter your details below


    .btn-down: a(href="#").arrow-down: i.fa.fa-angle-down

    .form-container.is-hidden
      form(method="post" action="#").form
        button(type="button").form_close-button x
        .form_text.
          Sit down with our experts to receive a free customized marketing plan
          for your business + Learn How To Use Google and Facebook to get 5000% ROI or more

        .form_fields
          input.form_input(type="text" placeholder="Your Name")
          input.form_input(type="text" placeholder="Contact Number")
          input.form_input(type="text" placeholder="Contact Name")

        button(type="submit").button.button-text-uppercase.button-text-uppercase.button-red Submit now
