header.header
  .header_top
    .container
      include contact.pug


  .container
    .header_bottom
      .logo: img.logo_picture(src="images/logo.png" alt="picture")
      include nav
      a.button.header_button.button-red(href="#") Free Consultation
